<div class="footer mb-2 bg-dark mw-100 text-white container">

  <div class="d-lg-flex container mb-md-1 col-10">
    <div class="col-lg-4 container">
      <label class="link col-lg-4 col-xs-4">
        © 2018 par
      </label>
      <a href="https://comparateuragricole.com/" class="col-lg-4 col-xs-8">ComparateurAgricole.com</a>
    </div>


    <div class="d-lg-flex container mb-md-1">
      <label class="site col-xs-12 col-lg-4">
        Site développé par :
      </label>
      <button type="button"
        class="btn btn-block btn-light mw-100 col-lg-6 col-xs-12">ComparateurAgricole.com</button>
    </div>
  </div>

  <div class="container mt-md-1">
    <label class="para col-12 text-center">
      Si vous souhaitez faire un article sur Moisson-Live.com et mettre en lumière cette période importante pour nos
      agriculteurs,merci de nous contacter
      <p class="contact"> au 02.42.14.00.01 ou e.dossantos@biagri.com</p>
    </label>
  </div>
</div>