<nav class="navbar nav navbar-expand-lg navbar-light bg-light babar">
  <a class="navbar-brand" href="#"></a>
  <button class="bouton navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bar" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item offset-1 col-5">
        <a class="nav-link" >Carte de la moisson<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item offset-1 col-5">
        <a class="nav-link" >Ajouter mes résultats</a>
      </li>
      <li class="nav-item offset-1 col-5">
          <a class="nav-link" >Comparer les résultats</a>
        </li>
  </ul>
</div>
</nav>